.parent {
    position: relative;
    height: 200vh;
}

.child-one {
    position: fixed;
    top: 0;
    left:0;
}

.child-two {

}

.child-three {

}


.parent {
    background-color: blue;
}

.child-one {
    background-color: green;
}

.child-two {
    background-color: orange;
}

.child-three {
    background-color: pink;
}






