/* article p:first-child {
    font-size: 120%;
    font-weight: bold;
} */

/* a:link,
a:visited {
    color: rebeccapurple;
    font-weight: bold;
}

a:hover {
    color:hotpink;
}
 */


/* article p:hover {
    color: blue;
}

article p:last-child {
    background-color: orange;
}

 */


/* article p::first-line {
    font-size: 120%;
    font-weight: bold;
} */

/* gives the portion of the text selected with the mouse cursor a red background-color */
/* article p::selection {
    background-color: red;
}

article p::first-letter {
    background-color: yellow;
    border: solid 1px black;
    font-size: 2rem; 
}
 */

/* article p:first-child::first-line {
    font-size: 120%;
    font-weight: bold;
} */


/* .box::before {
    content: "This should show before the other content. ";
    background-color: yellow;
} */

/* .box::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    border: 1px solid black;
} */

/* body {
  font: 1.2em / 1.5 sans-serif;
} */
/* Add styles here */

/* div > h1 {
    color:blue;
}

div > h2 {
    color: white;
    background-color: blue;
}

div > p > span {
    font-size: 200%;
} */


/* body {
  font: 1.2em / 1.5 sans-serif;
} */
/* Add styles here */

/* div > #special {
    background-color: yellow;
}

p > span.alert {
    border: 2px solid grey;
}

span[class="alert stop"] {
    background-color: red;
}

span[class="alert go"] {
    background-color: green;
} */


/* body {
  font: 1.2em / 1.5 sans-serif;
}
* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 300px;
}

td,
th {
  padding: 0.2em;
  text-align: left;
} */

/* Add styles here */
/* a:link {
    color: orange;
}

a:visited{
    color: green;
}

a:hover{
    text-decoration: none;
}

.container p:first-child {
    font-size: 150%;
}

.container p:first-child::first-line {
    color: red;
}

tbody tr:nth-child(2n) {
    background-color: #333333;
    color: white;
} */

/* body {
  font: 1.2em / 1.5 sans-serif;
} */

/* Add styles here */
/* h2 + p {
    color: red;
}

ul.list > li {
  list-style-type: none;
  border-bottom: 1px solid grey;
} */

body {
  font: 1.2em / 1.5 sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

a {
  display: block;
  padding: 0.5em;
}

a {
  border: 5px solid grey;
}

/* Add styles here */
a[title] {
    border-color: pink;
}


a[href*="contact"] {
    border-color: orange;
}

a[href^="https"]{
    border-color: green;
}













